body{
font-family: 'Montserrat',
sans-serif;
font-family: 'Roboto',
sans-serif;
}

.container{
    margin: 0 auto;
        width: 1280px;
        display: block;
        box-sizing: border-box;
}

a{
    text-decoration: none;
}

.navigation:hover{
    background-color: #222F3A;
}

.navigation:link {
    color: #FFF;
}

.navigation:visited {
    color: #FFF;
}

.logo{
display: inline-block;
font-size: 80px;
text-decoration: none;
color: #000;
margin-top: 65px;
margin-bottom: 65px;
font-weight: 400;
}

.logo-color{
    color: #4BCAFF;
}

.main-menu-bg{
    background-color: #35444F;
    height: 69px;
    width: 1280px;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
        justify-content: center;
        align-items: center;
}

.main-menu{
    color: #FFF;
    display: flex;
    justify-content: center;
        text-align: center;
        font-size: 24px;
            font-weight: 400;
            box-sizing: border-box;
            margin: auto;
            
}

.navigation{
   display: flex;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-left: #FFF solid 1px;
    height: 69px;
    margin: auto;
    
}

.last-link-menu{
    border-right: #FFF solid 1px;
    height: 69px;
}

.main-block{
    display: flex;
    box-sizing: border-box;
    
}

.sidebar{
    display: flex;
    border: solid 1px #000;
    width: 350px;
    height: 410px;
    margin-right: 50px;
    padding: auto;
    box-sizing: border-box;
    color: #495863;
        font-family: Roboto;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        
}

.aside-link{
    display: flex;
    box-sizing: border-box;
    width: 342px;
    height: 81px;
  padding-left: 42px;
        align-items: center;
}




.aside-link:link {
    color: #495863;
}

.aside-link:visited {
    color: #495863;
}

.aside-link:hover {
    background: #DBDBDB;
    color: #000;
    padding-left: 62px;
}

.image-logo-section{
    border: solid 1px #000;
    box-sizing: border-box;
    width: 885px;
    height: 529px;
    margin-bottom: 37px;
    display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden
}

.image-logo {
    transition: transform 0.25s;
    width: 320px;
        height: 381px;
}

.image-logo-section:hover img {
transform: scale(125%);
}



.main-info{
    width: 885px;
    height: 832px;
    margin-bottom: 54px;
}

article{
    font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
       
}

.first-paragraph{
    margin-bottom: 20px;
}

.footer-link:link {
    color: #0C1927;
}

.footer-link:visited {
    color: #0C1927;
}

.footer-link:hover {
    color: #3181A6;
    border-bottom: #3181A6 solid 1px;
}




.footer-section{
    background-color: #63696E7A;
    height: 69px;
        width: 1280px;
        margin-bottom: 50px;
        box-sizing: border-box;
        display: flex;
            justify-content: center;
                align-items: center;
}


.footer-list{
    box-sizing: border-box;
display: flex;
justify-content: center;
text-align: center;
font-size: 24px;
font-weight: 400;
color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-right: 50px;
}


.footer-link{
    padding-right: 20px;
}


.copyright{
    text-align: right;
        color: #010101;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            padding-right: 40px;
}